@import url(http://fonts.googleapis.com/css?family=Roboto:300,700);

/* General Style */

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -81px; /* the bottom margin is the negative value of the footer's height */
}

div.push {
    height: 80px;
}

body	{
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
	min-height: 100%;
	background-color: #f7f7f7;
	margin: auto;
}

#container {
	max-width: 1000px;
	width: 100%;
	margin: auto;
}

#header {
    background: white;
    margin: 2%;
    padding: 20px;
    border: 1px solid #ddd;
}

div.header-info {
    display: table;
}

#main {
	border: 1px #ddd solid;
	background-color: #FFF;
	margin: 10px auto 30px auto;
    padding: 2%, 4%, 2%, 4%;
}

.aside {
    float: right;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #222;
	text-align: left;
}

h2 {
	margin-top: 30px; 
	margin-bottom: 5px;
}

h1.superheading {
	text-align: center;
}

h1.superheading a {
	text-decoration: none;
	color: #222;
}

nav {
	margin: auto 0px auto auto;
	height: auto;
}

nav a {
	color: #FFF;
	font-weight: 700;
	text-decoration: none;
}

nav a.feed {
	width: 30px;
	height: 30px;
	float: right;
	margin-left: 20px; 
	background-image: url(../images/rss.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: block;
}

nav a.home {
	width: 30px;
	height: 30px;
	float: right;
	background-image: url(../images/home.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: block;
}

article p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	margin: 1rem !important;
}

article p a {
	color: rgb(0, 97, 173);
	text-decoration: none;
}

article {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

blockquote {
	color: #000;
	width: 96%;
	margin: auto !important;
	text-align: right;
	font-weight: 400;
	background-color: #F0F0F0;
}
blockquote p {
	padding: 2%;
	margin: 0 auto;
	width: 94% !important;
}

blockquote::selection, blockquote::-moz-selection {
	background-color: #000;
	color: #FFF;
}

::selection {
	background-color: #2aace6;
	color: #FFF;
}

::-moz-selection {
	background-color: #2aace6;
	color: #FFF;
}

.clear_head {
	clear: both;
}

#clear {
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
}

.readmore {
	text-align: right;
}

.readmore a {
	color: rgb(0, 97, 173);		
	font-family: 'Roboto', sans-serif;
	text-align: right;
	font-weight: 300;
	text-decoration: none;
}

.seperator {
	width: 100%;
	height: auto;
	display: block;
	min-height: 20px;
}

#more_posts {
	margin: 15px auto auto auto;
	color: #000;
	font-weight: 300;
	border-radius: 2px;
	text-align: center;
	font-size: 15px;
}

footer {
	width: 100%;
    padding-top: 30px;
	height: 50px;
	border-top: 1px #ddd solid;
}

footer a {
	color: rgb(0, 97, 173);
}

#status .status{
	margin: 20px auto auto 0px;
	text-align: left;
	color: #000;
	border-radius: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}

iframe {
	border-radius: 5px;
	border: 3px #676766 solid;
    width: 100% !important;
}

.video {
	margin: auto;
	text-align: center;
}

code {
	color: #d81743;
	background-color: #f7f7f7;
	border: 1px #c1c1c1 solid;
	margin: auto 3px auto 3px;
	border-radius: 4px;
}

/* Desktop */
@media screen and (min-width: 771px) {
	body {
        font-size: 13px;
		width: 100%;
		min-width: 501px;
	}

	#main {
		width: 58%;
		padding: 2% 4% 2% 4%;
		float: left;
        margin-left: 2%;
	}

	nav a.home {
		float: left;
	}

	.clear {
		clear: both;
	}

	nav a.profile {
		display: none;
	}

	article h1	{
		height: auto;
		min-height: 20px;
		font-size: 24px;
        margin: 10px;
	}

	article h1 a{
		font-size: 24px;
	}

	div.time {
		margin: auto;
		text-align: center;
		font-size: 11px;
	}

	article p {
		font-size: 13px;
	}

	.readmore a {
		font-size: 15px;
	}

	.seperator {
		background-size: 100% 100%;
	}

	aside {
		margin: 10px 2% auto 4%;
		width: 23%;
		padding: 1%;
		float: left;
		height: auto;
		background-color: #dcdcdc;
		border: 1px #bdbdbd solid;
        border-radius: 5px;
	}

	aside a {
		color: rgb(0, 97, 173);
		text-decoration: none;
	}

	#profile {
		width: 92%;
		padding: 10px;
		display: none;
		margin: auto;
        float: left;
	}

	#avatar {
		width: 100%;
        max-width: 100px;
		height: auto;
		margin: auto;
        float: left;
	}

	#avatar img {
		border-radius: 50%;
		height: auto;
		width: 100%;
        max-width: 100px;
	}

	#name {
		margin: auto;
		width: 100%;
		font-weight: 300;
		font-size: 20px;
	}

	#information {
        font-weight: 300;
		width: 100%;
		font-size: 13px;
	}

	#information a{
		font-size: 13px;
	}

	footer {
		background-color: white;
		margin: auto auto auto 0px;
        padding-top: 30px;
	    height: 50px;
	}

	footer p {
		text-align: center;
		font-size: 12px;
		font-size: 0.875rem;
	}

	footer p a {
		text-decoration: none;
	}
}

/* Mobile */
@media screen and (max-width: 770px) {
	body {
		width: 100%;
		min-width: 320px;
		margin: auto;
	}

	#main {
		width: 92%;
		padding: 2% 4% 2% 4%;
        border: none;
	}

    div.header-info {
        display: table;
        clear: both;
    }

    #header {
        margin: 0;
        clear: both;
    }

	nav a.home {
		float: left;
	}

	article h1	{
		height: auto;
		min-height: 20px;
		font-size: 40px;
		font-size: 2.5rem;
	}

	article h1 a{
		font-size: 40px;
		font-size: 2.5rem;
	}

	div.time {
		margin: auto;
		text-align: center;
		font-size: 14px;
		font-size: 0.875rem;
	}

	article p {
		font-size: 17px;
	}

	.readmore a {
		font-size: 18px;
	}

	.seperator {
		background-size: 100% 100%;
	}

	aside {
		display: block;
		width: 94%;
		padding: 3%;
	}

	#profile {
		width: 98%;
		max-width: 100%;
		padding: 1%;
		margin: auto;
        text-align: left;
	}

	#avatar {
		height: auto;
		margin: auto;
		float: left;
		max-width: 200px;
        text-align: left;
	}

	#avatar img {
		border-radius: 50%;
		height: auto;
		width: 100%;
        text-align: left;
	}

	#name {
		margin: auto;
		width: 100%;
		text-align: center;
		font-weight: 300;
		font-size: 30px;
        text-align: left;
	}

	#information {
		width: 100%;
		text-align: center;
		font-size: 20px;
        text-align: left;
	}

	#information a{
		color: rgb(0, 97, 173);
		text-decoration: none;
		font-size: 18px;
	}

	footer {
		background-color: #e9e9e9;
		margin: auto auto auto 0px;
        padding-top: 30px;
	    height: 50px;
	}

	footer p {
		text-align: center;
		font-size: 14px;
		font-size: 0.875rem;
	}

	footer p a {
		text-decoration: none;
	}
}
