@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700|Open+Sans); /* Google Webfont import */
@import url(http://fonts.googleapis.com/css?family=Rambla:400,700);

/* General Style */
body	{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	min-height: 100%;
	height: auto;
	background-color: #f7f7f7;
	margin: auto;
}

#container {
	max-width: 1100px;
	width: 100%;
	margin: auto;
}

#main {
	border: 1px #E0E0E0 solid;
	background-color: #FFF;
	margin: 10px auto 30px auto;
}

h1, h2, h3, h4, h5 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 700;
	color: #3d3d3d;
	text-align: center;
}

h1 a {
	text-decoration: none;
	color: #3d3d3d;
}

nav {
	margin: auto 0px auto auto;
	height: auto;
}

nav a {
	color: #FFF;
	font-weight: 700;
	text-decoration: none;
}

nav a.feed {
	width: 30px;
	height: 30px;
	float: right;
	margin-left: 20px; 
	background-image: url(../images/rss.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: block;
}

nav a.home {
	width: 30px;
	height: 30px;
	float: right;
	background-image: url(../images/home.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: block;
}

article p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

article p a {
	color: #0eade1;
	text-decoration: none;
}

blockquote {
	background-color: #DBDBDB;
	color: #000;
	width: 98%;
	max-width: 100%;
	padding: 0.5% 1% 0.5% 1%;
	margin: auto;
	border-radius: 5px;
	font-family: 'Rambla', sans-serif;
	font-weight: 400;
	box-shadow: 1.5px 1.5px 1.5px rgba(0,0,0,0.3);
}

blockquote::selection, blockquote::-moz-selection {
	background-color: #000;
	color: #FFF;
}

::selection {
	background-color: #2aace6;
	color: #FFF;
}

::-moz-selection {
	background-color: #2aace6;
	color: #FFF;
}

.clear_head {
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
}

.readmore {
	text-align: right;
}

.readmore a {
	color: #0eade1;		
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-align: right;
	font-weight: 400;
	text-decoration: none;
}

.seperator {
	width: 100%;
	height: auto;
	display: block;
	min-height: 20px;
}

#more_posts {
	margin: 15px auto auto auto;
	color: #000;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 400;
	border-radius: 2px;
	text-align: center;
	font-size: 20px;
}

footer {
	width: 100%;
	height: auto;
	border-top: 1px #aeaeae solid;
}

footer a {
	color: #2aace6;
}

#status {
	width: 100%;
}

#status .status{
	padding: 2%;
	margin: 5px auto auto 5px;
	text-align: left;
	color: #000;
	border-radius: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#status .status a {
	color: #000;
	text-decoration: none;
}

iframe {
	border-radius: 5px;
	border: 3px #676766 solid;
}

/* Desktop */
@media screen and (min-width: 771px) {
	body {
		width: 100%;
		min-width: 501px;
	}

	#main {
		width: 60%;
		padding: 2% 4% 2% 4%;
		float: left;
	}

	nav {
		width: 98%;
		padding: 1%;
		height: auto;
		min-height: 20px;
		margin: auto;
	}

	nav a.home {
		float: left;
	}

	.clear {
		clear: both;
	}

	nav a.profile {
		display: none;
	}

	article h1	{
		height: auto;
		min-height: 20px;
		font-size: 40px;
		font-size: 2.5rem;
	}

	article h1 a{
		font-size: 40px;
		font-size: 2.5rem;
	}

	div.time {
		margin: auto;
		text-align: center;
		font-size: 16px;
		font-size: 1rem;
	}

	article p {
		font-size: 18px;
		width: 100%;
	}

	.readmore a {
		font-size: 18px;
	}

	.seperator {
		background-image: url('../images/seperator.svg');
		background-size: 100% 100%;
	}

	aside {
		margin: 10px 1% auto 4%;
		width: 22%;
		padding: 1%;
		float: left;
		height: auto;
		background-color: #dcdcdc;
		border: 1px #bdbdbd solid;
	}

	aside a {
		color: #2aace6;
		text-decoration: none;
	}

	#profile {
		width: 92%;
		padding: 10px;
		display: none;
		margin: auto;
	}

	#avatar {
		width: 100%;
		height: auto;
		margin: auto;
	}

	#avatar img {
		border-radius: 50%;
		height: auto;
		width: 100%;
	}

	#name {
		margin: auto;
		width: 100%;
		text-align: center;
		font-weight: 700;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-size: 30px;
	}

	#information {
		font-family: 'Yanone Kaffeesatz', sans-serif;
		width: 100%;
		text-align: center;
		font-size: 20px;
	}

	#information a{
		font-size: 18px;
	}

	footer {
		width: 98% !important;
		background-color: #e9e9e9;
		margin: auto auto auto 0px;
		padding: 1%;
	}

	footer p {
		text-align: center;
		font-size: 14px;
		font-size: 0.875rem;
	}

	footer p a {
		text-decoration: none;
	}
}

/* Mobile */
@media screen and (max-width: 770px) {
	body {
		width: 100%;
		min-width: 320px;
		margin: auto;
	}

	#main {
		width: 92%;
		padding: 2% 4% 2% 4%;
	}

	nav {
		width: 94% !important;
		padding: 2%;
		height: auto;
		min-height: 20px;
	}

	nav a.home {
		float: left;
	}

	nav a.profile {
		width: 25px;
		height: 25px;
		float: right;
		background-image: url('../images/user.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		display: block;
	}

	article h1	{
		height: auto;
		min-height: 20px;
		font-size: 40px;
		font-size: 2.5rem;
	}

	article h1 a{
		font-size: 40px;
		font-size: 2.5rem;
	}

	div.time {
		margin: auto;
		text-align: center;
		font-size: 14px;
		font-size: 0.875rem;
	}

	article p {
		font-size: 17px;
		width: 100%;
	}

	.readmore a {
		font-size: 18px;
	}

	.seperator {
		background-image: url('../images/seperator_iphone.svg');
		background-size: 100% 100%;
	}

	aside {
		display: none;
	}

	#profile {
		width: 98%;
		max-width: 100%;
		padding: 1%;
		margin: auto;
	}

	#avatar {
		width: 50%;
		height: auto;
		margin: auto;
	}

	#avatar img {
		border-radius: 50%;
		height: auto;
		width: 100%;
	}

	#name {
		margin: auto;
		width: 100%;
		text-align: center;
		font-weight: 700;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-size: 30px;
	}

	#information {
		font-family: 'Yanone Kaffeesatz', sans-serif;
		width: 100%;
		text-align: center;
		font-size: 20px;
	}

	#information a{
		color: #2aace6;
		text-decoration: none;
		font-size: 18px;
	}

	footer {
		width: 98% !important;
		background-color: #e9e9e9;
		margin: auto auto auto 0px;
		padding: 1%;
	}

	footer p {
		text-align: center;
		font-size: 14px;
		font-size: 0.875rem;
	}

	footer p a {
		text-decoration: none;
	}

}