entity_uri = https://cacauu.tent.is
bloghost = http://cacauu.de
blogtitle = Cacauu
imprinturl = http://cacauu.de/imprint.php
language = en
description = Blog about technology, coding and other stuff
displayed_essays = 10
statuses_sidebar = 5
statuses_profile = 10