<footer>
    {% if imprinturl is defined %}
        <p><a href="{{ imprinturl }}">Imprint</a></p>
    {% endif %}
<p>Powered by <a href="http://cacauu.de/reevio/" rel="nofollow">Reevio</a></p>
<!-- The line above isn't necessary to have and you can decide whether to keep it in or just kick it out but we're always happy about some appreciation of our work by the users -->
</footer>
