<aside> <!-- Sidebar -->
	{% if recent_statuses %}
	<h1>Latest statuses</h1>
	<div id="status">
		{% for status in recent_statuses %}
			<div class="status">{{ tent_markdown(status.content.text) }}</div>
		{% endfor %}
	</div>
	{% endif %}
	<div class="clear_head"></div>
</aside>
