<aside> <!-- Sidebar -->
	{% if recent_statuses %}
	<h1>Latest statuses</h1>
	<div id="status">
		{% for status in recent_statuses %}
			<div class="status"><a href="{{ reevio.sidebar_link }}">{{ status.content.text }}</a></div>
		{% endfor %}
	</div>
	{% endif %}
	<div class="clear_head"></div>
</aside>
